*,
*:after,
*:before
	margin: 0
	padding: 0
	outline: none
	box-sizing: border-box
	text-decoration: none

body
	font-size: 18px
	font-weight: normal

.container
	display: block
	margin: 0 auto
	padding: 0 15px
	width: 100%
	max-width: $container-width

.none
	display: none !important
