$color-primary: #428BCA
$color-success: #5CB85C
$color-info: #5BC0DE
$color-warning: #F0AD4E
$color-danger: #D9534F

$colors: ('primary': $color-primary, 'success': $color-success, 'info': $color-info, 'warning': $color-warning, 'danger': $color-danger)
