-
  $sectionName = "section_rede-sociais";
  $fields = array(
    array('id' => 'url_facebook', 'title' => 'URL Facebook', 'type' => 'url', 'sanitize' => 'esc_url'),
    array('id' => 'url_twitter', 'title' => 'URL Twitter', 'type' => 'url', 'sanitize' => 'esc_url'),
    array('id' => 'url_youtube', 'title' => 'URL Youtube', 'type' => 'url', 'sanitize' => 'esc_url'),
    array('id' => 'url_instagram', 'title' => 'URL Instagram', 'type' => 'url', 'sanitize' => 'esc_url'),
    array('id' => 'url_google-plus', 'title' => 'URL Google Plus', 'type' => 'url', 'sanitize' => 'esc_url'),
    array('id' => 'url_linkedin', 'title' => 'URL Linkedin', 'type' => 'url', 'sanitize' => 'esc_url'),
    array('id' => 'url_pinterest', 'title' => 'URL Pinterest', 'type' => 'url', 'sanitize' => 'esc_url'),
    array('id' => 'url_tumblr', 'title' => 'URL Tumblr', 'type' => 'url', 'sanitize' => 'esc_url')
  );
  
  $wp_customize->add_section( $sectionName, array(
      'priority' => 10,
      'capability' => 'edit_theme_options',
      'theme_supports' => '',
      'title' => __( 'Rede Sociais', 'textdomain' ),
      'description' => '',
  ));
  
  foreach($fields as $num => $item){
    $wp_customize->add_setting( $item['id'], array(
      'default' => '',
      'type' => 'theme_mod',
      'capability' => 'edit_theme_options',
      'transport' => '',
      'sanitize_callback' => $item['sanitize'],
    ));
    $wp_customize->add_control( $item['id'], array(
        'type' => $item['type'],
        'priority' => 10,
        'section' => $sectionName,
        'label' => __( $item['title'], 'textdomain' ),
        'description' => '',
    ));
  }
  
