.main-header
  background-color: #CCC
  border-top: 3px solid #000
  .container
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    min-height: 80px
    .logo
      max-width: 15%
      .logo-image
        width: 100%
