//- header
- include('header.php');
  
  div( class="container content-404" )
    div( class="container-fluid" )
      div( class="not-found" )
        div( class="title" ) 
          i( class="fa fa-chain-broken" ) 
          | 404
        div( class="subtitle" ) Desculpa! Acho que essa página não existe mais...
      
        
      
    
//- footer
- include('footer.php') 
