//- header
- include('header.php');
    
  div( class="featured" )
    div( class="container" )
      h1( class="title" )
        - single_cat_title();
  
  div( class="container content-archive" )
    div( class="container-fluid" )
      - if (have_posts()):
        div( class="row between-xs" )
          - while(have_posts()) : the_post();
            - $permalink = get_permalink();
            div( class="col-md-4 col-xs-12" )
              div( class="item-post box box-round" )
                - if(has_post_thumbnail()):
                  figure( class="figure" )
                    a( href!=echo('permalink') )
                      - the_post_thumbnail('350x200');
                - endif;
                div( class="text" )
                  h3( class="title" )
                    a( href!=echo('permalink') )
                      - the_title();
                  div( class="excerpt" )
                      - the_excerpt();
                footer( class="bottom bottom-full" )
                  a( class="button button-large button-block" href!=echo('permalink') ) Leia mais
          - endwhile;
      - endif;
      
      div( class="row center-xs" )
        div( class="col-xs-12" )
          nav( class="pagination pagination-short" )
            - if(function_exists('wp_pagenavi')) wp_pagenavi();
          - wp_reset_query();
        
      
    
//- footer
- include('footer.php') 
