footer( class="footer" )
  div( class="container" )
    div( class="row" )
      div( class="col-xs-3" )
        div( class="box-footer" )
          h3( class="title" ) Title Box
          ul( class="list list-icon icon-angle" )
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
              
      div( class="col-xs-3" )
        div( class="box-footer" )
          h3( class="title" ) Title Box
          ul( class="list list-icon icon-caret" )
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
              
      div( class="col-xs-3" )
        div( class="box-footer" )
          h3( class="title" ) Title Box
          ul( class="list list-icon icon-arrow" )
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
              
      div( class="col-xs-3" )
        div( class="box-footer" )
          h3( class="title" ) Title Box
          ul( class="list list-icon icon-circle" )
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
            li
              a( href="#" ) Lorem ipsum
  
  div( class="copyright" ) Copyright 2015 © Todos os direitos reservados.


//- - wp_footer();

script( src!=echo('template_directory') + "/js/libs.min.js" )
script( src!=echo('template_directory') + "/js/main.min.js" )

- echo "</body>";
- echo "</html>";
