-
  //- config
  $template_directory = get_bloginfo('template_directory');
  $linkHome = get_option('home');
  
  //- rede sociais
  $url_facebook = get_theme_mod('url_facebook');
  $url_twitter = get_theme_mod('url_twitter');
  $url_instagram = get_theme_mod('url_instagram');
  $url_youtube = get_theme_mod('url_youtube');
  $url_googlePlus = get_theme_mod('url_google-plus');
  $url_linkedin = get_theme_mod('url_linkedin');
  $url_pinterest = get_theme_mod('url_pinterest');
  $url_tumblr = get_theme_mod('url_tumblr');

doctype html
- echo "<html lang='pt-Br'>";
  head
    title
      -
        if (is_home()): 
          bloginfo('name');
        elseif (is_category()): 
          single_cat_title(); echo ' -  ' ; bloginfo('name');
        elseif (is_single()): 
          single_post_title();
        elseif (is_page()): 
          bloginfo('name'); echo ': ' ; single_post_title();
        else: 
          wp_title('',true);
        endif;
    
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" rel="stylesheet")
    
    link(rel="stylesheet" href!=echo('template_directory') + "/css/libs.min.css")
    link(rel="stylesheet" href!=echo('template_directory') + "/css/main.min.css")
    
    // [if lte IE 8]
    script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
    //[endif]
    
    - wp_head();
  - $bodyClass = implode( " ", get_body_class() );
  - echo "<body class='".$bodyClass."'>";
    
    header( class="header" )
      div( class="container" )
        nav( class="menu" )
          div( id="btn-menu" class="btn-menu" )
            span
          -
            wp_nav_menu(
                array(
                'menu'           => 'Menu Principal',
                'container'      => false,
                'menu_class'     => 'nav navbar-nav'
              )
            )
      
