//- header
- include('header.php');
    
  div( class="welcome" )
    div( class="container" )
      h1( class="title" ) Grão de Milho <span class="heart fa fa-heart"></span> Pipoca Starter
      h3( class="subtitle" ) Um kit pronto para você iniciar seu projeto wordpress!
  
  div( class="features" )
    div( class="container" )
      div( class="row" )
        div( class="col-xs-4" )
          div( class="box" )
            span( class="icon fa fa-bolt" )
            h4( class="title" ) Rápido Desenvolvimento
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit Suscipit quia, iusto nisi nesciunt.consectetur adipisicing elit.
        
        div( class="col-xs-4" )
          div( class="box" )
            span( class="icon fa fa-code" )
            h4( class="title" ) Fácil de se Trabalhar
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit Est, maxime ea, excepturi sint. consectetur adipisicing elit.
        
        div( class="col-xs-4" )
          div( class="box" )
            span( class="icon fa fa-wordpress" )
            h4( class="title" ) Estrutura WordPress
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit Sit enim id ex qui neque rerum. consectetur adipisicing elit.
  
    
//- footer
- include('footer.php') 
