//- header
- include('header.php');
- the_post();
    
  div( class="container content-page" )
    div( class="container-fluid" )
      div( class="row" )
        div( class="col-xs-12" )
          h1( class="title" )
            - the_title();
          div( class="content" )
            - the_content();
            
            
    
//- footer
- include('footer.php') 
