//- header
- include('header.php');
    
  div( class="featured" )
    div( class="container" )
      h1( class="title" ) Você buscou por: Arroxa
      form( action="" )
        label( for="" class="input input-round-full input-icon icon-right input-search" )
          input( type="text" name="s" placeholder="Faça uma nova busca..." )
          button( type="submit" class="fa fa-search" )
  
  div( class="container content-search" )
    div( class="container-fluid" )
      div( class="not-found none" )
        div( class="title" ) Ops!
        div( class="subtitle" ) Não encontramos nada relacionado a <span>"Arroxa"</span> :/
      
      div( class="row between-xs" )
        div( class="col-xs-6" )
          div( class="item-post box box-inline box-round" )
            figure( class="figure" )
              a( href="#" )
                img( src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97200&w=300&h=200" alt="" )
            div( class="text" )
              h3( class="title" )
                a( href="#" ) Lorem ipsum dolor sit amet
              div( class="excerpt" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
              
        div( class="col-xs-6" )
          div( class="item-post box box-inline box-round" )
            figure( class="figure" )
              a( href="#" )
                img( src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97200&w=300&h=200" alt="" )
            div( class="text" )
              h3( class="title" )
                a( href="#" ) Lorem ipsum dolor sit amet
              div( class="excerpt" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
              
        div( class="col-xs-6" )
          div( class="item-post box box-inline box-round" )
            figure( class="figure" )
              a( href="#" )
                img( src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97200&w=300&h=200" alt="" )
            div( class="text" )
              h3( class="title" )
                a( href="#" ) Lorem ipsum dolor sit amet
              div( class="excerpt" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
              
        div( class="col-xs-6" )
          div( class="item-post box box-inline box-round" )
            figure( class="figure" )
              a( href="#" )
                img( src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97200&w=300&h=200" alt="" )
            div( class="text" )
              h3( class="title" )
                a( href="#" ) Lorem ipsum dolor sit amet
              div( class="excerpt" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
              
        div( class="col-xs-6" )
          div( class="item-post box box-inline box-round" )
            figure( class="figure" )
              a( href="#" )
                img( src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97200&w=300&h=200" alt="" )
            div( class="text" )
              h3( class="title" )
                a( href="#" ) Lorem ipsum dolor sit amet
              div( class="excerpt" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
              
        div( class="col-xs-6" )
          div( class="item-post box box-inline box-round" )
            figure( class="figure" )
              a( href="#" )
                img( src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97200&w=300&h=200" alt="" )
            div( class="text" )
              h3( class="title" )
                a( href="#" ) Lorem ipsum dolor sit amet
              div( class="excerpt" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
      
      div( class="row center-xs" )
        div( class="col-xs-12" )
          nav( class="pagination pagination-short" )
            div( class="wp-pagenavi" )
              span( class="pages" ) Página 1 de 7
              span( class="current" ) 1
              a( class="page larger" href="#" ) 2
              a( class="page larger" href="#" ) 3
              a( class="page larger" href="#" ) 4
              a( class="page larger" href="#" ) 5
              span( class="extend" ) ...
              a( class="nextpostslink" rel="next" href="#" ) »
              a( class="last" href="#" ) Última »
        
      
    
//- footer
- include('footer.php') 
