//- header
- include('header.php');
    
  div( class="featured" )
    div( class="container" )
      h1( class="title" ) Você buscou por: 
        - echo get_search_query();
      form( action="" )
        label( for="" class="input input-round-full input-icon icon-right input-search" )
          input( type="text" name="s" placeholder="Faça uma nova busca..." )
          button( type="submit" class="fa fa-search" )
  
  div( class="container content-search" )
    div( class="container-fluid" )
      - if (have_posts()):
        div( class="row between-xs" )
          - while(have_posts()) : the_post();
            - $permalink = get_permalink();
            div( class="col-xs-6" )
              div( class="item-post box box-inline box-round" )
                - if(has_post_thumbnail()):
                  figure( class="figure" )
                    a( href!=echo('permalink') )
                      - the_post_thumbnail('350x200');
                - endif;
                div( class="text" )
                  h3( class="title" )
                    a( href="#" )
                      - the_title();
                  div( class="excerpt" )
                    - the_excerpt();
          - endwhile;
      - else:
        div( class="not-found" )
          div( class="title" ) Ops!
          div( class="subtitle" ) 
            - echo 'Não encontramos nada relacionado a <span>"'. get_search_query() .'"</span> :/';
      -endif;
              
        
      
      div( class="row center-xs" )
        div( class="col-xs-12" )
          nav( class="pagination pagination-short" )
            - if(function_exists('wp_pagenavi')) wp_pagenavi();
          - wp_reset_query();
        
      
    
//- footer
- include('footer.php') 
