aside( class="sidebar" )
  div( class="title-sidebar" ) Title Sidebar
  
  a( href="#" class="box box-inline" )
    div( class="text" )
      h3( class="title" ) Lorem ipsum dolor sit amet
      div( class="excerpt" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      
  a( href="#" class="box box-inline" )
    div( class="text" )
      h3( class="title" ) Lorem ipsum dolor sit amet
      div( class="excerpt" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  a( href="#" class="box box-inline" )
    div( class="text" )
      h3( class="title" ) Lorem ipsum dolor sit amet
      div( class="excerpt" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      
  a( href="#" class="box box-inline" )
    div( class="text" )
      h3( class="title" ) Lorem ipsum dolor sit amet
      div( class="excerpt" ) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
