//- header
- include('header.php');
- the_post();
    
  div( class="container content-page" )
    div( class="container-fluid" )
      div( class="row" )
        div( class="col-xs-8" )
          h1( class="title" )
            - the_title();
          
          div( class="content" )
            - the_content();
        
          - echo do_shortcode('[share_buttons]');
        
        div( class="col-xs-4" )
          //- sidebar
          - include('sidebar.php')
            
            
    
//- footer
- include('footer.php') 
